/* font */
.font-filter {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* font */

/* Home */
.tag-filter {
    font-size: 9px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}
.tag-button {
    padding: 8px 16px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.tag-button:hover {
    background: #e9ecef;
}
.tag-button.active {
    background: #94999d;
    color: white;
    border-color: #94999d;
}
.carousel-item.filtered {
    display: none;
}
/* Home */
